<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}"/>
    <title>Edit Car</title>
</head>
<body>
<div class="container main">
    <div class="row align-items-center">
        <div class="col-md-auto">
            <form th:action="@{/edit-car}" th:object="${car}" method="post">
                <div class="input-group mb-3">
                    <span class="input-group-text">Id</span>
                    <input type="text" class="form-control" th:field="*{id}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Mark</span>
                    <input type="text" class="form-control" th:field="*{mark}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Model</span>
                    <input type="text" class="form-control" th:field="*{model}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Color</span>
                    <input type="text" class="form-control" th:field="*{color}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Production Year</span>
                    <input type="text" class="form-control" th:field="*{productionYear}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <button type="submit" class="btn btn-primary" name="add car" value="save">Save Car</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>